/* CSS Document */

/* Navigation strip */

.navigation {color: #999999; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small;}
.navigation a:link {color: #999999;}
.navigation a:hover {color: #FFFFFF;}
.navigation a:visited {color: #999999;}

.navigation {margin-top: 0px;}

#ad-background {
    position: absolute;
	z-index: -5;
	width: 320px;
	height: 270px;
	margin-top: -10px;
	left: 70px;
}

#ad-background-big {
    position: absolute;
	z-index: -5;
	width: 356px;
	height: 300px;
	margin-top: -10px;
	left: 52px;
}